img {
  max-width: 8em;
  height: auto;
}
a {
  text-decoration: none;
  color:rgb(0, 127, 149);
}
a:hover {
  color: rgb(71, 227, 255);
}
p.btn-primary a {
  color:rgb(255, 255, 255);
}
p.btn-primary a:hover {
  color: rgb(206, 206, 206)!important;
}
.pointer {
  cursor:pointer;
}
.center {
  text-align: center;
}
.margin {
  margin: 2em;
}