img {
  max-width: 8em;
  height: auto;
}
a.nav-link {
  color: rgb(252, 116, 138)!important
}
nav.navbar {
  background: linear-gradient(rgb(20, 122, 255), rgb(131, 230, 255), rgb(240, 254, 255))!important
}
a {
  text-decoration: none;
  color:rgb(252, 116, 138);
}
a:hover {
  color: red!important;
}
body {
  background-color: rgb(228, 253, 255);
}