@{
  Layout = "_Layout";
}

<h3>Click on the menu options below to manage your order</h3>


<div class="margin center">
  <p>@Html.ActionLink("View Treats", "Index", "Treats")</p>
  <p>@Html.ActionLink("View Flavors", "Index", "Flavors")</p>
</div>

