@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4 class="center margin">Add a new PierresTreats member</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add new Flavor" class="btn btn-default" />
}
<p class="btn btn-primary">@Html.ActionLink("Show all Flavor", "Index")</p>