@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Flavor>

<h2 class="center margin">Flavors added by @User.Identity.Name</h2>

@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
} 
else
{
  <h3>No Flavors have been added yet!</h3>
}

<p class="btn btn-primary">@Html.ActionLink("Add new Flavor", "Create")</p>

<p class="btn btn-primary">@Html.ActionLink("Home", "Index", "Home")</p>